---
layout: default
---
<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ><i class="pe-7s-comment"></i> FALE CONOSCO</a>
        </div>

        <div class="collapse navbar-collapse">
            <!--<ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                       <i class="pe-7s-user"></i> Login
                    </a>
                </li>
            </ul>-->
        </div>

    </div>
</nav>

<div class="content" >
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card card-plain">
                    <div class="header">
                        <h1 class="title">Con<span class="text-warning">TT</span>udO web</h1>
                        <p class="category">Soluções em Tecnologia</p>
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <hr />
                <div class="card">
                    <div class="header navbar-ct-orange">
                        <h2 class="title">Fale conosco</h2>
                        <p class="">Estamos de prontidão para lhe atender da melhor forma possível! ;)</p>
                    </div>
                </div>

            </div>

            <div class="col-md-12">

                <div class="card">
                    <div class="content">
                        <p>E-mail: <a href="mailto:contato@conttudoweb.com.br">contato@conttudoweb.com.br</a></p>
                        <p>
                            Telefone / Whatsapp: <strong>Alessandro </strong><a href="tel:43999851513">+55 (43) 9 9985-1513</a> / <strong>Silvano </strong><a href="tel:43996785004">+55 (43) 9 9678-5004</a>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>