<!doctype html>
<html lang="pt-br">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57052794-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-57052794-1');
    </script>

	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="{{ '/assets/img/favicon.png' | prepend: site.baseurl }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{ page.title|default:"Soluções em tecnologia" }} | {{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta name="Keywords" content="conttudo web, conttudo, criar site, website, design, responsivo, marketing digital, ecommerce, e-commerce, desenvolvimento, desenvolvimento site, desenvolvimento web, sites, apucarana, paraná, empresa de web, web, criaçoes de sites, sistemas web, conttudo apucarana, manutenção de sites, banners, SEO, Lojas Virtuais, wordpress, agencia web, Publicidade On Line, design web, sites responsivos, sites apucarana, lojas virtuais apucarana, e-commerces apucarana, catalogo online, sistemas online">

    <meta name="author" content="conttudoweb">
    <meta name="owner" content="ConTTudOweb - Soluções em tecnologia" />

    <meta property="og:image" content="">
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:title" content="ConTTudOweb | Soluções em tecnologia">

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{ '/assets/css/animate.min.css' | prepend: site.baseurl }}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{{ '/assets/css/light-bootstrap-dashboard.css' | prepend: site.baseurl }}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{{ '/assets/css/pe-icon-7-stroke.css' | prepend: site.baseurl }}" rel="stylesheet" />

    <!--  Custom CSS for app    -->
    <link href="{{ '/assets/css/app.css' | prepend: site.baseurl }}" rel="stylesheet"/>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="{{ '/assets/img/sidebar-4.jpg' | prepend: site.baseurl }}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <!--<a href="http://www.conttudoweb.com.br" class="simple-text">
                    ConTTudO web
                </a>-->
                <img src="{{ '/assets/img/logo_800.png' | prepend: site.baseurl }}" class="image" />
            </div>

            <ul class="nav">
                <li class="{% if page.url == '/' %}active{% endif %}">
                    <a href="/">
                        <i class="pe-7s-home"></i>
                        <p>INÍCIO</p>
                    </a>
                </li>
                <li class="{% if page.url == '/portifolio/' %}active{% endif %}">
                    <a href="/portifolio/">
                        <i class="pe-7s-photo"></i>
                        <p>PORTIFÓLIO</p>
                    </a>
                </li>
                <li class="{% if page.url == '/contato/' %}active{% endif %}">
                    <a href="/contato/">
                        <i class="pe-7s-comment"></i>
                        <p>FALE CONOSCO</p>
                    </a>
                </li>
                <li class="{% if page.url == '/sobre/' %}active{% endif %}">
                    <a href="/sobre/">
                        <i class="pe-7s-info"></i>
                        <p>SOBRE NÓS</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <!-- Overlay 
	<div id="content" style="position: absolute; height: 100%; width: 100%;"></div>
    -->

    <div class="main-panel">

        {{ content }}

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/">
                                <i class="pe-7s-home"></i> INÍCIO
                            </a>
                        </li>
                        <li>
                            <a href="/portifolio/">
                                <i class="pe-7s-photo"></i> PORTIFÓLIO
                            </a>
                        </li>
                        <li>
                            <a href="/contato/">
                                <i class="pe-7s-comment"></i> FALE CONOSCO
                            </a>
                        </li>
                        <li>
                            <a href="/sobre/">
                                <i class="pe-7s-info"></i> SOBRE NÓS
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2014 -
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    TODOS OS DIREITOS RESERVADOS!
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{{ '/assets/js/jquery-1.10.2.js' | prepend: site.baseurl }}" type="text/javascript"></script>
	<script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="{{ '/assets/js/light-bootstrap-dashboard.js' | prepend: site.baseurl }}"></script>

    <!-- Custom JS for app -->
    <script src="{{ '/assets/js/app.js' | prepend: site.baseurl }}"></script>

</html>
