---
layout: default
---

<div class="content" >
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card card-plain">
                    <div class="header">
                        <h1 class="title">Con<span class="text-warning">TT</span>udO web</h1>
                        <p class="category">Soluções em Tecnologia</p>
                    </div>
                </div>

            </div>

            <div class="col-md-12">

                <div class="card">
                    <div class="header navbar-ct-orange">
                        <h2 class="title">Serviços</h2>
                        <p class="">Conheça alguns dos serviços que prestamos!</p>
                    </div>
                </div>

            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="card card-plain">
                    <div class="content">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="image">
                                    <img src="assets/img/site.jpg" alt="Criação de Sites Imagem"/>
                                </div>
                                <div class="content">
                                    <h4 class="title">Criação de Sites<br />
                                        <small>Sites de qualidade, exclusivos e rápidos!</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="image">
                                    <img src="assets/img/e-commerce.jpg" alt="Criação de Lojas Online Imagem"/>
                                </div>
                                <div class="content">
                                    <h4 class="title">Criação de Lojas Online<br />
                                        <small>Lojas seguras e confiáveis!</small>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="image">
                                    <img src="assets/img/cartao.jpg" alt="Cartões de Visita Imagem"/>
                                </div>
                                <div class="content">
                                    <h4 class="title">Cartões de Visita<br />
                                        <small>Criamos toda a identidade visual de sua empresa!</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>