---
layout: default
---
<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ><i class="pe-7s-photo"></i> PORTIFÓLIO</a>
        </div>

        <div class="collapse navbar-collapse">
            <!--<ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                       <i class="pe-7s-user"></i> Login
                    </a>
                </li>
            </ul>-->
        </div>

    </div>
</nav>

<div class="content" >
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card card-plain">
                    <div class="header">
                        <h1 class="title">Con<span class="text-warning">TT</span>udO web</h1>
                        <p class="category">Soluções em Tecnologia</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <hr />
                <div class="card">
                    <div class="header navbar-ct-orange">
                        <h2 class="title">Portifólio</h2>
                        <p class="">Conheça alguns dos nossos trabalhos!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">

                <div class="col-md-10 col-md-offset-1">

                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="content">

                                <div class="col-md-8 text-right">
                                    <div class="content">
                                        <h4 class="title"><a href="https://communicaretreinamentos.com.br/" target="_blank" rel="nofollow">Communicare Treinamentos</a><br />
                                            <small>Centro de Treinamento em Comunicação e Oratória!</small>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="image">
                                        <a href="https://communicaretreinamentos.com.br/" target="_blank" rel="nofollow">
                                            <img src="{{ '/assets/img/communicare.jpeg' | prepend: site.baseurl }}" alt="Criação de Sites Imagem"/>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="content">

                                <div class="col-md-4">
                                    <div class="image">
                                        <a href="https://www.4rbones.com.br/" target="_blank" rel="nofollow">
                                            <img src="{{ '/assets/img/4rbones.png' | prepend: site.baseurl }}" alt="Criação de Sites Imagem"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="content">
                                        <h4 class="title"><a href="https://www.4rbones.com.br/" target="_blank" rel="nofollow">4R Bonés e Acessórios</a><br />
                                            <small>Site empresarial!</small>
                                        </h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="content">

                                <div class="col-md-8 text-right">
                                    <div class="content">
                                        <h4 class="title"><a href="http://igowbrindes.com.br/" target="_blank" rel="nofollow">Igow Brindes</a><br />
                                            <small>Site empresarial!</small>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="image">
                                        <a href="http://igowbrindes.com.br/" target="_blank" rel="nofollow">
                                            <img src="{{ '/assets/img/igowbrindes.png' | prepend: site.baseurl }}" alt="Criação de Sites Imagem"/>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="content">

                                <div class="col-md-4">
                                    <div class="image">
                                        <a href="http://www.girox.com.br/" target="_blank" rel="nofollow">
                                            <img src="{{ '/assets/img/girox.png' | prepend: site.baseurl }}" alt="Criação de Sites Imagem"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="content">
                                        <h4 class="title"><a href="http://www.girox.com.br/" target="_blank" rel="nofollow">GiroX Esportes</a><br />
                                            <small>Portal de notícias e controle de eventos esportivos!</small>
                                        </h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="content">

                                <div class="col-md-8 text-right">
                                    <div class="content">
                                        <h4 class="title"><a href="http://www.fb.me/hospedagemparacaesapucarana" target="_blank" rel="nofollow">Dog Hotel<br />"Hospedagem para Cães Apucarana"</a><br />
                                            <small>Identidade visual (logotipo) e redes sociais!</small>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="image">
                                        <a href="http://www.fb.me/hospedagemparacaesapucarana" target="_blank" rel="nofollow">
                                            <img src="{{ '/assets/img/dog_hotel.jpg' | prepend: site.baseurl }}" alt="Criação de Sites Imagem"/>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>