---
layout: default
---

<div class="content" >
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card card-plain">
                    <div class="header">
                        <h1 class="title">Con<span class="text-warning">TT</span>udO web</h1>
                        <p class="category">Soluções em Tecnologia</p>
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <hr />
                <div class="card">
                    <div class="header navbar-ct-orange">
                        <h2 class="title">Portifólio</h2>
                        <p class="">Conheça alguns dos nossos trabalhos!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="content">

                            <div class="col-md-4">
                                <div class="image">
                                    <a href="http://www.girox.com.br/" target="_blank" rel="nofollow">
                                        <img src="{{ '/assets/img/girox.jpg' | prepend: site.baseurl }}" alt="Criação de Sites Imagem"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="content">
                                    <h4 class="title"><a href="http://www.girox.com.br/" target="_blank" rel="nofollow">GiroX Esportes</a><br />
                                        <small>Portal de notícias e controle de eventos esportivos!</small>
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="content">

                            <div class="col-md-8 text-right">
                                <div class="content">
                                    <h4 class="title"><a href="http://www.fb.me/hospedagemparacaesapucarana" target="_blank" rel="nofollow">Dog Hotel<br />"Hospedagem para Cães Apucarana"</a><br />
                                        <small>Identidade visual (logotipo) e redes sociais!</small>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="image">
                                    <a href="http://www.fb.me/hospedagemparacaesapucarana" target="_blank" rel="nofollow">
                                        <img src="{{ '/assets/img/dog_hotel.jpg' | prepend: site.baseurl }}" alt="Criação de Sites Imagem"/>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>